<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Configuração de HTTP Headers para Charset UTF-8 -->
        <httpProtocol>
            <customHeaders>
                <add name="Content-Type" value="text/html; charset=utf-8" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Configuração de MIME Types com Charset -->
        <staticContent>
            <remove fileExtension=".html" />
            <remove fileExtension=".htm" />
            <remove fileExtension=".css" />
            <remove fileExtension=".js" />
            <remove fileExtension=".json" />
            
            <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
            <mimeMap fileExtension=".htm" mimeType="text/html; charset=utf-8" />
            <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=utf-8" />
        </staticContent>
        
        <!-- Configuração de Headers específicos por tipo de arquivo -->
        <outboundRules>
            <rule name="Add UTF-8 charset to HTML files" preCondition="IsHTML">
                <match serverVariable="RESPONSE_Content_Type" pattern=".*" />
                <action type="Rewrite" value="text/html; charset=utf-8" />
            </rule>
            <rule name="Add UTF-8 charset to CSS files" preCondition="IsCSS">
                <match serverVariable="RESPONSE_Content_Type" pattern=".*" />
                <action type="Rewrite" value="text/css; charset=utf-8" />
            </rule>
            <rule name="Add UTF-8 charset to JS files" preCondition="IsJS">
                <match serverVariable="RESPONSE_Content_Type" pattern=".*" />
                <action type="Rewrite" value="application/javascript; charset=utf-8" />
            </rule>
        </outboundRules>
        
        <preConditions>
            <preCondition name="IsHTML">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
            </preCondition>
            <preCondition name="IsCSS">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/css" />
            </preCondition>
            <preCondition name="IsJS">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/javascript" />
            </preCondition>
        </preConditions>
    </system.webServer>
</configuration> 